@import 'styles/fonts.css';

:root {
    font-family: 'Inter' !important;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    font-family: 'Inter' !important;
}

.upper-bar {
    height: 64px;
    width: 100%;
    background-color: #424242;
    border-bottom: 1px solid rgb(92, 92, 92);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    user-select: none;
    -webkit-user-drag: none;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    z-index: 1;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    overflow: hidden;
}

.upper-bar ::selection {
    background-color: #eee;
    color: black;
    text-shadow: none;
}

.upper-bar > section {
    max-width: 1020px;
    width: 100%;
    display: flex;
    gap: 8px;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 8px;
    box-sizing: border-box;
}

.upper-bar > section > cite {
    display: flex;
    gap: 4px;
    width: 260px;
    flex-wrap: nowrap;
    flex-direction: row;
    box-sizing: border-box;
    font-style: normal;
    padding: 0 16px 0 8px;
    margin-right: 8px;
    border-radius: 8px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.upper-bar > section > cite > img {
    flex-grow: 0;
    filter: none;
    transition-duration: 0.2s;
    margin-right: 4px;
    margin-left: 0px;
}

.upper-bar > section > cite:hover > img {
    margin-right: 0px;
    margin-left: 4px;
}

.upper-bar > section > hr {
    margin: none;
    margin-left: 8px;
    margin-right: 8px;
    border: none;
    border-right: 1px dashed rgb(128, 128, 128);
}

.upper-bar > section > cite > h1 {
    font-size: large;
    color: rgb(218, 218, 218);
    font-weight: 400;
    margin: none;
    padding: none;
    align-self: center;
    transition-duration: 0.1s;
    white-space: nowrap;
}

.upper-bar > section > cite:hover > h1 {
    color: white;
}

.upper-bar > section > cite > h2 {
    font-size: larger;
    color: white;
    font-weight: 600;
    margin: none;
    padding: none;
    align-self: center;
    white-space: nowrap;
}

.upper-bar > section > .buttons {
    display: flex;
    gap: 4px;
    box-sizing: border-box;
    height: auto;
    flex: 1 1;
    align-items: center;
    justify-content: center;
}

.upper-bar > section > .buttons > button {
    display: flex;
    gap: 4px;
    box-sizing: border-box;
    background-color: transparent;
    font-size: medium;
    outline: none;
    border: none;
    color:rgb(218, 218, 218);
    cursor: pointer;
}

.upper-bar > section > .buttons > button::before {
    content: '[';
    opacity: 0;
}

.upper-bar > section > .buttons > button:hover::before {
    content: '[';
    opacity: 100%;
}

.upper-bar > section > .buttons > button:hover {
    color:rgb(255, 255, 255);
}

.upper-bar > section > .buttons > button::after {
    content: ']';
    opacity: 0;
}

.upper-bar > section > .buttons > button:hover::after {
    content: ']';
    opacity: 100%;
}

.upper-bar > section > .DownloadButton {
    display: flex;
    gap: 4px;
    box-sizing: border-box;
    background-color: transparent;
    font-size: medium;
    outline: none;
    border: none;
    color: rgb(230, 230, 230);
    cursor: pointer;
    padding: 6px 12px;
    align-self: center;
    background: linear-gradient(45deg, #634ab6, #8b74d8);
    border-radius: 4px;
    transition-duration: 0.2s;
    margin-left: 4px;
    margin-right: 4px;
}

.upper-bar > section > .DownloadButton:hover {
    padding: 6px 16px;
    margin-left: 0;
    margin-right: 0;
    color: white;
}

.header {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: #323232;
    background-image:  repeating-radial-gradient( circle at 50% 50%, transparent 0, #202020 15px ), repeating-linear-gradient( #202020, #323232 );
    box-sizing: border-box;
    padding: 16px;
    
}

.header ::selection {
    background-color: #eee;
    color: black;
    text-shadow: none;
}

.header > section{
    width: 100%;
    max-width: 1020px;
    height: 100%;
    box-sizing: border-box;
    padding: 16px 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.header > section > cite{
    max-width: 260px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-basis: content;
    align-content: flex-start !important;
    overflow: hidden;
    height: max-content;
    align-self: center;
}

.header > section > cite > h1{
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-shadow: 1px 2px 4px black;
    width: 100%;
    text-align: right;
}

.header > section > cite > h2{
    color: rgb(220, 220, 220);
    font-size: xx-large;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-shadow: 1px 2px 4px black;
    width: 100%;
    text-align: right;
}

.header > section > cite > span{
    color: rgb(190, 190, 190);
    font-size: large;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-shadow: 1px 2px 4px black;
    width: 100%;
    white-space: wrap;
    word-wrap: normal;
    text-align: justify;
}
.header > section > cite > ul {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
    font-style: normal;
    list-style: none;
    text-align: center;
    user-select: none;
}
.header > section > cite > ul > li {
    background-color: var(--accent, #7965bb);
    padding: 4px 12px;
    font-size: medium;
    outline: none;
    border: none;
    box-sizing: border-box;
    align-self: stretch;
    height: auto;
    color: rgb(240, 240, 240);
    border-radius: 3px;
    transition-duration: 0.1s;
    flex: 1 1;
    margin: 0;
    
}

.header > section > cite > ul > li:hover {
    background-color: var(--accent-hover, #8b74d8);
    margin-inline: 0;
    color: white;
    padding: 4px 20px;
}

.header > section > cite > sub {
    color: rgb(160, 160, 160);
    font-style: normal;
    font-size: medium;
    font-weight: 300;
}

.header > section > hr {
    margin: none;
    margin-left: 16px;
    margin-right: 8px;
    border: none;
    border-right: 1px dashed rgb(128, 128, 128);
}

.header > section > ul {
    flex: 1 1;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    text-align: center;
    padding: 0;

}

.header > section > ul > li {
    flex: 1 1;
    --image1: url(images/demo.png);
    --image2: url(images/demo2.png);;
    --image3: url(images/demo3.png);;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: var(--image1);
    background-position: right;
    filter: drop-shadow(0 0 12px black);
}

@keyframes changeDemoBackground {
    0% {
        opacity: 100%;
    }
    5% {
        opacity: 0;
        background-image: var(--image1);
    }
    5.1% {
        background-image: var(--image2);
    }
    10% {
        opacity: 100%;
    }
    30% {
        opacity: 100%;
    }
    35% {
        opacity: 0;
        background-image: var(--image2);
    }
    35.1% {
        background-image: var(--image3);
    }
    40% {
        opacity: 100%;
    }
    60% {
        opacity: 100%;
    }
    65% {
        opacity: 0;
        background-image: var(--image3);
    }
    65.1% {
        background-image: var(--image1);
    }
    70% {
        opacity: 100%;
    }
    100% {
        opacity: 100%;
    }
}
.header > section > ul > li:hover {
    animation: changeDemoBackground 4s linear 0s infinite;
    
}

.scroll-indicator {
    width: 100%;
    height: 16px;
    background-color: #424242;
    position: sticky;
    position: -webkit-sticky;
    top: 64px;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
    -webkit-user-drag: none;
    user-select: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.33);
    overflow: hidden;
}

.scroll-indicator > .left {
    width: 64px;
    font-size: small;
    color: white;
    text-align: center;
}

.scroll-indicator > .middle {
    flex: 1 1;
    
    border-radius: 6px;
    background-image: linear-gradient(to right, #404040 , #a2a2a2);
    border-top: 1px solid #646464;
    box-shadow: inset -4px -4px 8px rgba(0, 0, 0, 0.4), 0 0 4px rgba(0, 0, 0, 0.5);;
    border-bottom: 1px solid #646464;
    padding: 0;
    box-sizing: border-box;
    transition-duration: 0.15s;
    -webkit-user-drag: none;
    user-select: none;
    padding: 0;
}

.scroll-indicator > .middle > .bar{
    width: 0;
    height: 100%;
    border-radius: 6px;
    background-image: linear-gradient(to right, #7c61d6 , #ac93ff);
    border: 1px solid #7157c7;
    border-right-width: 4px;
    box-shadow: inset 2px -2px 8px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    -webkit-user-drag: none;
    user-select: none;
    transition-duration: 0.5s;
}

.scroll-indicator > .right {
    width: 64px;
    font-size: small;
    color: white;
    text-align: center;
}

body > .content > section {
    max-width: 1020px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    box-sizing: border-box;
    background-color: var(--section-bg-color, #f8f8f8);
    color: var(--text-color, #202020);
    border-radius: 8px;
    margin: 16px auto;
    gap: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    font-family: 'Inter';
}

body > .content {
    width: 100%;
    box-sizing: border-box;
    padding-inline: 16px;
    font-family: 'Inter';
}

body > .content > section ::selection{
    background-color: #606060;
    color: white;
    text-shadow: none;
}

body > .content > section > h1 {
    width: 100%;
    margin: 0;
    color: var(--section-text-color, #202020);
    font-size: xx-larger;
    font-family: 'Inter-Thin';
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

body > .content > section > h2 {
    width: 100%;
    margin: 0;
    color: var(--section-text-color, #202020);
    font-size: large;
    font-family: 'Inter-Thin';
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.33);
}

body > .content > section > hr {
    width: var(--width, 140px);
    margin: 8px 0;
    padding: 0;
    border: 1px dashed var(--section-text-color, #202020);
    align-self: flex-start;
}

body > .content > section > .item {
    width: 100%;
    height: min-content;
    background-color: var(--bg-color, #262626);
    border-radius: 6px;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 8px;
    transition-duration: 0.2s;
    overflow: hidden;
}

body > .content > section > .item > img {
    border-radius: 4px;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.5)) !important;
    width: 36px;
    height: 36px;
    align-self: center;
    transition-duration: 0.2s;
}

body > .content > section > .item:hover > img {
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.5)) !important;
}

body > .content > section > .item > cite {
    flex: 1 1;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    font-style: normal;
    font-family: 'Inter-Light';
    color: var(--color, white);
    overflow-wrap: break-word;
}

body > .content > section > .item > cite > span:nth-of-type(1) {
    margin: 0;
    font-size: larger;
    font-weight: 200;
    word-wrap: break-word;
    word-break: break-all;
}

body > .content > section > .item > cite > span:nth-of-type(2)  {
    margin: 0;
    font-size: medium;
    font-weight: 100;
    word-wrap: break-word !important;
    word-break: break-all;
}

body > .content > section > .item > button {
    width: auto;
    min-width: 64px;
    padding: 4px 8px;
    font-size: medium;
    font-family: 'Inter';
    background-color: var(--accent, #7965bb);
    color: var(--accent-text, white);
    border: none;
    outline: none;
    border-radius: 4px;
    align-self: stretch;
    font-family: 'Inter-Medium';
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition-duration: 0.2s;
}

body > .content > section > .item > button:hover {
    padding: 4px 12px;
}

body > footer {
    width: 100%;
    height: auto;
    background-color: #424242;
    color: white;
    text-align: center;
    padding: 8px;
    margin: 0;
    white-space: break-spaces;
    box-sizing: border-box;
}